/* a태그 속성 없애기 */
a{  
    text-decoration: none;
}

html, body{
    margin: 0;
    padding:0;
}
/* 내용에만 padding을 줌 */
main{
    padding:3rem;
    float: center;
}

/* navbar */
/* navbar_로그인부분 */
#login{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 10px;

    display : flex;
    text-align: right;

    color: white;
}

#login button{
    border-radius:  5px;
    border-color: black;
    border: none;

    /* 여백 */
    margin : 2px;

    /* font */
    color : #63A6CC;

    background-color: white;
}
/* 메뉴에 해당하는 부분 navbar */
.sub-navbar{
    display: table;
    table-layout: fixed;
 
    background-color: white;

    width: 100%;
    border-top: solid 2px #63A6CC;
    border-bottom: solid 2px #63A6CC;
}

.sub-content{
    display: table-cell;

    height: 2em;

    text-align: center;
    vertical-align: middle;

    /* font */
    color: black;
}