<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chooser - 토론</title>
</head>
<body>
    <!-- 상단(로고, 주제) -->
    <h1>이것! 저것! 둘 중 하나!</h1>

    <!-- 글 내용 -->
    <!-- 영운이가 만들어 놓은 것 꿀떡할 예정 -->
    <p>글 내용이 들어갈 예정입니다. css는 아직입니다.</p>
    <p>이미지, 이름, 퍼센트, 화살표가 들어갈 예정입니다. </p>
    <br>
    <button>목록보기</button>

    <!-- 댓글기능 -->
    <br>
    <br>
    <textarea cols="50" rows="2" name="fulltext"></textarea>
    <button>댓글달기</button>
    <br>
    <p>댓글 목록입니다</p>
</body>
</html>