{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chooser - 토론 목록</title>
</head>
<body>
    <!-- 상단(로고, 주제) -->
    <h1>이것! 저것! 둘 중 하나!</h1>

    <!-- 정렬 -->
    <select>
        <option>랜덤 순</option>
        <option>조회 높은 순</option>
        <option>참여 높은 순</option>
        <option>최신 순</option>
        <option>오래된 순</option>
    </select>
    
    <!-- 목록 -->
    <p>목록입니당</p>


    {% comment %} 버튼 {% endcomment %}

    <div class="make_debate">
        <a href="{% url 'debate_create' %}">
        <div class="plus_btn">
            <button>글쓰기</button>
        </div>
        </a>
    </div>
    
    <!-- 페이지네이션 -->
    <p>페이지네이션입니다</p>
</body>
</html>