{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{% static 'css/main.css' %}">
    
    <title>Chooser - 토론</title>
</head>
<body>
    <!-- 상단(로고, 주제) -->
    <h1>이것! 저것! 둘 중 하나!</h1>

    <!-- 글 내용 -->
    <!-- 영운이가 만들어 놓은 것 꿀떡할 예정 -->
    <p>글 내용이 들어갈 예정입니다. css는 아직입니다.</p>
    <div class = "img_d">
        <img id="left_img" src="{% static 'Img/짬뽕.jpg' %}" width="40%" height="40%"
        style="margin-right:30px;">
        <img id="right_img" src="{% static 'Img/짜장.jpg' %}" width="40%" height="40%">
    </div>
    <div id="result">짬뽕 0% : 짜장 0%</div>
    <div class="chart">
        <canvas id="canvas" width="500px" height="30px"></canvas>
    </div>
    <a href="{% url 'debate_index' %}">
        <div>
            <button>글 목록</button>
        </div>
    </a>
    <!-- 댓글기능 -->
    <br>
    <br>
    <textarea cols="50" rows="2" name="fulltext"></textarea>
    <button>댓글달기</button>
    <br>
    <p>댓글 목록입니다</p>
</body>

<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/graph.js' %}"></script>
</html>