<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chooser - 취향목록</title>
</head>
<body>
    <!-- 상단(로고, 주제) -->
    <h1>케이크 맛있게 먹는 법!!</h1>

    <!-- 정렬 -->
    <select>
        <option>랜덤 순</option>
        <option>조회 높은 순</option>
        <option>최신 순</option>
        <option>오래된 순</option>
    </select>

    <!-- 인기목록 -->
    <p>인기목록입니당</p>
    
    <!-- 목록 -->
    <p>목록입니당</p>

        <div class="make_prefer_index">

        


    <!-- 버튼 -->
    <button>글쓰기</button>

    <!-- 페이지네이션 -->
    <p>페이지네이션입니다</p>

</body>
</html>