<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chooser - 취향소개 글쓰기</title>
</head>
<body>
    <!-- 상단(로고, 주제) -->
    <h1>케이크 맛있게 먹는 법!!</h1>

    <!-- 제목 -->
    <textarea cols="80" rows="2" name="fulltext" placeholder="제목을 입력하세요"></textarea>

    <!-- 글쓰기 -->
    <textarea cols="80" rows="35" name="fulltext" placeholder="내용을 입력하세요"></textarea>
    <br>
    <button>글쓰기</button>
</body>
</html>