<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choosr - 취향</title>
</head>
<body>
    <!-- 상단(로고, 주제) -->
    <h1>케이크 맛있게 먹는 법!!</h1>

    <!-- 제목 -->
    <p>글 제목이 들어갈 예정입니다. css는 아직입니다.</p>

    <!-- 글 내용 -->
    <p>글 내용이 들어갈 예정입니다. css 아직입니다.</p>
    <button>좋아요</button>
    <button>수정</button>
    <button>삭제</button>
    <button>목록</button>

    <!-- 댓글기능 -->
    <br>
    <br>
    <textarea cols="50" rows="2" name="fulltext" placeholder="댓글을 입력하세요!"></textarea>
    <button>댓글달기</button>
</body>
</html>