.all_pre_detail{
    text-align: center;
    flex-wrap: wrap;
	align-content: stretch;
}

.main_logo {
    width: 438.5px;
    height: 211.5px;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    /* 헤드폰트는 배달의민족 한나? */
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}