<!-- 영운이가 구연을 위해 할일 -->
<!-- 
    1. 로그인 폼을 생성한다. -> 회원가입
    2. 로그인 폼을 통해 로그인 할 수 있게 한다.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
        {{ form }}
        <input class="submit" type="submit" value="확인">
    </form> -->
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" id="email" placeholder="EMAIL">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="PASSWORD">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>
</html>